@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h1>Ecoinmerce PopUp</h1>
    <h6>Detalhes da compra</h6>
    <div>
        <p>Compra realizada em </p>
        <p>Pagamento realizado via Ecoinmerce</p>
    </div>
    <ul>
        <li>Total: R$ </li>
        <li>Total em Ether: </li>
        <li>Cotação atual: </li>
    </ul>
    <div>
        <button>Conectar wallet</button>
        <button>Pagar</button>
    </div>
</div>